/T12/Ejercicio1/nbproject/private/
/T12/Ejercicio1/build/
/T12/Ejercicio12_1/nbproject/private/
/T12/Ejercicio12_1/build/
/T12/GatosConClase/nbproject/private/
/T12/GatosConClase/build/
/T12/PasoDeCadena/nbproject/private/
/T12/PasoDeCadena/build/
